accelerate
annotated-types
anyio
asttokens
attrs
certifi
charset-normalizer
choreographer
comm
contourpy
cycler
debugpy
decorator
distro
executing
fastjsonschema
flash-attn
fonttools
h11
hf-xet
httpcore
httpx
huggingface_hub
idna
iniconfig
ipykernel
ipython
ipython_pygments_lexers
ipywidgets
jedi
jiter
joblib
jsonschema
jsonschema-specifications
jupyter_client
jupyter_core
jupyterlab_widgets
kaleido
kiwisolver
logistro
matplotlib
matplotlib-inline
narwhals
nbformat
nest_asyncio
ninja
nvidia-ml-py
openai
orjson
pandas
parso
peft
pexpect
platformdirs
plotly
pluggy
prompt_toolkit
psutil
ptyprocess
pure_eval
pydantic
pydantic_core
Pygments
pyparsing
pytest
pytest-timeout
python-dateutil
PyYAML
pyzmq
referencing
regex
requests
rpds-py
safetensors
scikit-learn
scipy
seaborn
simplejson
six
sniffio
stack_data
threadpoolctl
tokenizers
tornado
tqdm
traitlets
transformers
typing-inspection
urllib3
wcwidth
widgetsnbextension
